<div class="container">
    <div class="row">
        <div class="col-6">

            <h2>Crea tu restaurante</h2>

            <form action="/restaurants/create" method="POST">
                <div class="mb-3">
                    <label for="restaurantname" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="restaurantname">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Imagen</label>
                    <input type="text" class="form-control" name="image">
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Tipo</label>
                    <select name="type" class="form-select">
                        <option value="casera">Casera</option>
                        <option value="asador">Asador</option>
                        <option value="hotel/hostal">Hotel/Hostal</option>
                        <option value="cafeteria/bar">Cafeteria/bar</option>
                        <option value="gourmet">Gourmet</option>
                        <option value="varios">Varios</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Lugar</label>
                    <select name="place" class="form-select">
                        <option value="en carretera">En carretera</option>
                        <option value="desvio cercano">Desvio cercano</option>
                        <option value="en pueblo">En pueblo</option>
                        <option value="desvio lejano">Desvio lejano</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descripción</label>
                    <input type="text" class="form-control" name="description">
                </div>
                <div class="mb-3">
                    <label for="rating" class="form-label">Puntuación</label>
                    <select name="rating" class="form-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="quality" class="form-label">Calidad</label>
                    <select name="quality" class="form-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="service" class="form-label">Servicio</label>
                    <select name="service" class="form-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="ambience" class="form-label">Ambiente</label>
                    <select name="ambience" class="form-select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="opinion" class="form-label">Opinión</label>
                    <input type="text" class="form-control" name="opinion">
                </div>
{{!-- 
                <div id="pac-container">
                    <label for="location" class="form-label">Introduzca un restaurante</label>
                    <input id="pac-input" type="text" placeholder="Enter a location" />
                </div>
        </div>
        <div id="map"></div>
        <div id="infowindow-content">
            <span id="place-name" class="title"></span><br />
            <span id="place-address"></span>
        </div> --}}
        ç
        <div class="mb-3">
            <label for="name" class="form-label">Latitud</label>
            <input type="text" name="latitude" placeholder="latitud" value="{{location.coordinates.[0]}}">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Longitud</label>
            <input type="text" name="longitude" placeholder="longitud" value="{{location.coordinates.[1]}}">
        </div>


        <button type="submit" class="btn btn-primary">Crear Restaurante</button>
        </form>

    </div>

</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/places-map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNlwJnczOEYC8VHb6tkjgFk_AFP9TGNW8&callback=initMap"></script>
