body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#map {
    height: 400px;

}

#detailsMap {
    height: 400px;

}

.mapBox {
    width: 1300px;
    margin: auto;
}

nav {
    margin-bottom: 30px;
}

#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
    display: flex;
}

.search {
    display: flex;
}

.card {
    box-shadow: 10px;
   
}

.card-img-top {
    height: 300px;
    margin-top: 10px;
}

.starIcon {
    width: 45px;
}

.generalRating {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.editButton {
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 153, 0);
    padding: 10px;
    width: 80px;
    border-radius: 5px;
}

.editButton2 {
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 153, 0);
    padding: 8px;
    width: 100px;
    border-radius: 5px;
}

.deleteButton {
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(63, 47, 143);
    padding: 8.5px;
    width: 80px;
    border-radius: 5px;
}

.deleteButton2 {
    font-weight: bold;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    background-color: rgb(63, 47, 143);
    padding: 5px;
    width: 80px;
    border-radius: 5px;
}

.cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxGeneralRating {
    display: flex;
    justify-content: left;
    align-items: center;
}

.star {
    margin-left: 10px;
}

.profileImg {
    width: 500px;
}

.img-fluid {
    height: 135px;
}

.restaurantImg {
    width: 600px;
}

.background {
    background-color: rgb(223, 221, 220);
}

.cardbox {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}