body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin-bottom: 30px;
}

#map {
    height: 400px;
    background-color: red;
}

#detailsMap {
    height: 400px;
    background-color: red;
}

#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
    display: flex;
}