body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    width: 50px;
    margin-left: 20px;
}


.section1Background {
    height: 660px;
    background-image: url(../images/fondo\ carretera.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.section2Background {
    background-color: rgb(70, 41, 13);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section3Background {
    height: 660px;
    background-image: url(../images/drawing.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.section4Background {
    background-color: rgb(70, 41, 13);
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.carrousel {
    padding-left: 200px;
    padding-right: 200px;
}

.premios {
    text-align: center;
}

footer {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(17, 16, 16);
    color: white;
    font-size: 15px;
    bottom: 0%;
    position: 0;
}

.footer2 {
    display: flex;
    justify-content: space-around;
}

.backgroundRestaurants {
    background-color: rgb(255, 255, 255);
}

.hometext {
    text-align: center;
}

.features {
    text-align: center;
}

#map {
    height: 400px;
    background-color: red;
}

#detailsMap {
    height: 400px;
    background-color: red;
}

.mapBox {
    width: 1300px;
    margin: auto;
}



#searchInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
    display: flex;
}

.card-img-top {
    height: 300px;
    margin-top: 10px;
}

.starIcon {
    width: 45px;
}

.generalRating {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.editButton {
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 153, 0);
    padding: 10px;
    width: 80px;
    border-radius: 5px;
}

.editButton2 {
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(255, 153, 0);
    padding: 8px;
    width: 100px;
    border-radius: 5px;
}

.deleteButton {
    font-weight: bold;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(63, 47, 143);
    padding: 8.5px;
    width: 80px;
    border-radius: 5px;
}

.deleteButton2 {
    font-weight: bold;
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    background-color: rgb(63, 47, 143);
    padding: 5px;
    width: 80px;
    border-radius: 5px;
}

.cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxGeneralRating {
    display: flex;
    justify-content: left;
    align-items: center;
}

.star {
    margin-left: 10px;
}

.profileImg {
    width: 500px;
}

.img-fluid {
    height: 135px;
}

.restaurantImg {
    width: 600px;
}