<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h2>Crear un nuevo usuario</h2>

            <hr>

            <form action="/register" method="POST">

                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="username"
                        placeholder="Introduzca su nombre de usuario/a. (min. 3 car치cteres)" name="username">
                    <div class="form-text">Campo Obligatorio</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Introduzca su email" name="email">
                    <div class="form-text">Campo Obligatorio</div>

                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contrase침a</label>
                    <input type="password" class="form-control" id="password"
                        placeholder="Introduzca una contrase침a (min. 3 car치cteres)" name="plainPassword">
                    <div class="form-text">Campo Obligatorio</div>

                </div>
                <div class="mb-3">
                    <label for="bio" class="form-label">Sobre ti</label>
                    <input type="text" class="form-control" id="bio" placeholder="Breve descripcion sobre ti"
                        name="bio">
                </div>
                <div class="mb-3">
                    <label for="userImage" class="form-label">Subir imagen de perfil</label>
                    <br>
                    {{!-- <form action="#">
                        <input type="file" name="image">
                    </form> --}}
                </div>

                <button type="submit" class="btn btn-dark">Crear Nuevo Usuario/a</button>
                <a href="/" class="btn btn-dark">Volver al incio</a>
            </form>
            <hr>
        </div>
    </div>
</div>
